<!DOCTYPE html>
<html>
<head>
  <title>Keith Bartolotta | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<header class ="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h2 class="nav pull-left">Keith Bartolotta | <%= yield(:title) %></h2>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to("Home", root_path) %></li>
						<li><%= link_to("Education", school_path) %></li>
						<li><%= link_to("Career", career_path) %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
